/***
 *        /$$$$$           /$$ /$$ /$$                                     /$$             /$$      /$$                   /$$     /$$        /$$$$$$ 
 *       |__  $$          |__/| $$| $$                                    | $$            | $$$    /$$$                 /$$$$   /$$$$       /$$$_  $$
 *          | $$  /$$$$$$  /$$| $$| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$   /$$      | $$$$  /$$$$  /$$$$$$       |_  $$  |_  $$      | $$$$\ $$
 *          | $$ |____  $$| $$| $$| $$__  $$ /$$__  $$ /$$__  $$ |____  $$| $$  /$$/      | $$ $$/$$ $$ /$$__  $$        | $$    | $$      | $$ $$ $$
 *     /$$  | $$  /$$$$$$$| $$| $$| $$  \ $$| $$  \__/| $$$$$$$$  /$$$$$$$| $$$$$$/       | $$  $$$| $$| $$$$$$$$        | $$    | $$      | $$\ $$$$
 *    | $$  | $$ /$$__  $$| $$| $$| $$  | $$| $$      | $$_____/ /$$__  $$| $$_  $$       | $$\  $ | $$| $$_____/        | $$    | $$      | $$ \ $$$
 *    |  $$$$$$/|  $$$$$$$| $$| $$| $$$$$$$/| $$      |  $$$$$$$|  $$$$$$$| $$ \  $$      | $$ \/  | $$|  $$$$$$$       /$$$$$$ /$$$$$$ /$$|  $$$$$$/
 *     \______/  \_______/|__/|__/|_______/ |__/       \_______/ \_______/|__/  \__/      |__/     |__/ \_______/      |______/|______/|__/ \______/ 
 *                                                                                                                                                   
 *    UI Design by Sem Voigtländer                                                                                                                                               
 *                                                                                                                                                   
 */
* {
				font-family: 'Arial', sans-serif;
			}

			body, html {
				margin: 0;
				padding: 0;
				min-height: 100%;
				color: #FFF;
				text-align: center;
				background-size: cover;
			}

			header {
				width: 100%;
				position: fixed;
				background: rgba(0, 0, 0, 0.5);
				color: #FFF;
				top:0;
				box-shadow: 3px 3px 3px #000;
			}
			footer {
				width: 100%;
				position: fixed;
				background: rgba(0, 0, 0, 0.5);
				color: #FFF;
				bottom: 0;
				box-shadow: 3px 3px 3px #000;
			}
			main {
				width: 100%;
				min-height: 100%;
				padding-bottom: 50%;
				position: initial;
			}
			main section {
				padding-top: 25.5%;
				text-align: left;
			}

			main section p {
				padding: 15px;
				margin: 15px;
				background: rgba(0, 0, 0, 0.4);
				border-radius: 5px;
			}

			footer section {
				text-align: center;
				color: #000;
			}

			footer section::before {
				font-style: italic;
				color:#fff;
				content: 'Slide to Jailbreak';
			}

			input[type='range'] {
				-webkit-appearance: none;  /* Override default CSS styles */
			    appearance: none;
			    width: 100%; /* Full-width */
			    height: 50px; /* Specified height */
			    background:rgba(0, 0, 0, 0.5); /* Grey background */
			    outline: none; /* Remove outline */
			    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
			    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
			    transition: opacity .2s;
			    padding: 0;
			    margin:0;
			}
			input[type='range']:visited {
			}
			input[type='range']:hover {
				opacity: 1;
			}
			input[type='range']::-webkit-slider-thumb {
				background: rgba(118, 118, 118, 1);
				-webkit-appearance: none;
			    appearance: none;
			    width: 100px;
			    height: 25px;
			    border-radius: 25px;
			}